# Python
__pycache__/
*.py[cod]
*.class
venv/
.env

# Django
db.sqlite3

# Development
.idea/
.vscode/
.instructions.md
.DS_Store
.current-functionality.md
.tutorial.md

# Testing and configuration
.coverage
conftest.py
coverage.xml
pyproject.toml
setup.cfg
htmlcov/

# Logs
logs/
*.log
src/logs/
