Django==5.2
djangorestframework==3.16.0
python-dotenv==1.0.1
gunicorn==23.0.0
celery==5.5.0
youtube-transcript-api==1.0.3
python-json-logger==3.3.0
ollama==0.4.7
django-markdown-deux==1.0.6
psycopg2-binary==2.9.10
dj-database-url==2.3.0
